body {
    font-size: 30px;
}

header {
    padding: 20px;
    text-align: center;
    margin-bottom: 30px;
}

main {
    width: 1000px;
    margin: auto;
    margin-bottom: 30px;
}

h1 {
    font-size: 52px;
}

h2 {
    font-size: 64px;
}

#timer {
    padding: 20px;
    text-align: center;
    margin-bottom: 30px;
}

#box1 {
    padding: 20px;
    text-align: center;
    margin: auto;
    margin-bottom: 30px;
    border: 3px solid grey;
}

#box2 {
    padding: 20px;
    margin-bottom: 30px;
    border: 3px solid grey;
}

.startButton {
    background-color: #4CAF50;
    margin: 10px;
    border: none;
    border-radius: 10px;
    color: white;
    padding: 15px 32px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 36px;
}

