body {
    background-image: url("../images/black_denim.png");
    font-size: 34px;
    letter-spacing: normal;
    font-family: 'Raleway', sans-serif;
    color: aliceblue;
}

header {
    font-family: 'Megrim', cursive;
    padding: 20px;
    text-align: center;
}

main {
    background-color: #be58a3;
    width: 1000px;
    border: 10px dotted #369980;
    border-radius: 5px;
    line-height: normal;
    margin: auto;
    margin-bottom: 15px;
    overflow: auto;
}

h1 {
    font-size: 60px;
}

#timer {
    font-family: 'Righteous', cursive;
    height: 63px;
    text-align: center;
    margin-bottom: 20px;
    font-size: 62px;
    color: #be58a3;
}

#box1 {
    height: 100px;
    padding: 30px 30px 15px 30px;
    text-align: center;
    margin: auto;
}

#box2 {
    height: 230px;
    padding: 30px 30px 15px 30px;
    text-align: center;
    margin: auto;
    margin-bottom: 15px;
}

.start-button, .replay-button:hover {
    cursor: pointer;
}

.answer-button:hover {
    border: 3px dotted #e4bde8;
    border-radius: 3px;
    padding: 6px;
}

.start-button, .replay-button {
    font-family: 'Megrim', cursive;
    background-color: #369980;
    margin-top: 36px;
    border: 3px dotted #e4bde8;
    color: white;
    padding: 12px 28px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 45px;
}

.answer-button {
    padding: 5px;
    text-align: center;
}

img {
    max-height: 240px;
    border-radius: 2px;
}


